$orange: #ff5a0f;
@media only screen and (min-width: 320px) and (max-width: 960px){
	.activity{
		margin: 0 15px;
	}
	.mod{
		margin-top: 20px;
		&__hd{
			margin-bottom: 24px;
		}
		&__title{
			display: inline-block;
			border-bottom: 8px solid $orange;
			font: normal 24px/52px "HiraginoSansGB-W6";
			color: #303136;
		}
		&__more{
			float: right;
			font: normal 12px/24px "SimSun";
			color: $orange;
			padding-top: 20px;
			cursor: pointer;
			&:hover{
				text-decoration: none;
			}
		}
		&__line{
			height: 1px;
			width: 100%;
			background: $orange;
			margin-top: -4px;
		}
		&__bd{}
	}
	.introduction{
		padding-bottom: 50px;
		border: solid 1px #f1efef;
		background-color: #ffffff;
		position: relative;
		&__shadow{
			display: none;
		}
		&__detail{
			width: 80%;
			margin: 0 auto;
			margin-top: 26px;
			font: normal 14px/24px "SimSun";
			color: #666666;
			letter-spacing: 0px;
		}
		&__container{
			width: 90%;
			margin: 0 auto;
			margin-top: 20px;
		}
		&__item{
			display: inline-block;
			width: 130px;
			height: 130px;
			text-align: center;
			margin-left: 7%;
			border-radius: 64px;
			position: relative;
			z-index: 2;
			transition:background 0.3s;
			&:hover{
				cursor: pointer;
				&:after{
					transition:all .8s ease 0s; 
					-moz-transition: all .8s ease 0s; 
					-webkit-transition:all .8s ease 0s; 
					-o-transition:all .8s ease 0s;
					position: absolute;
					top: 0; 
					bottom: 0;
					left: 0; 
					right: 0;
					background: $orange;
					content: '';
					z-index: -1; //attention
					border-radius: 64px;
					}
					.icon-butterfly, .icon-spinner2, .icon-hand, .icon-bird, .icon-umbrella{
						background-image: linear-gradient(to bottom right, #ffffff,#ffffff);
					}
					.introduction__desc{
						color: $orange;
					}
				}
			&:after{
				position: absolute;
				top: 1px; 
				bottom: 1px;
				left: 1px; 
				right: 1px;
				background: white;
				content: '';
				z-index: -1; //attention
				border-radius: 64px;
			}
			&--1{
				background: linear-gradient(to bottom right, #ff255d,#ff4317 17%, #ff6e17 50%,#ff7d16 62%,#ffc24a);
				
			}
			&--2{
				background: linear-gradient(to bottom right, #ffaa25,#d1b63c 25%, #a3c152 51%,#52c1b7);
			}
			&--3{
				background: linear-gradient(to bottom right, #7bccb5,#2cb48a 47%, #00935d);
			}
			&--4{
				background: linear-gradient(to bottom right, #20c499,#21cc8d 31%, #49e4df 69%,#006db6);
			}
			&--5{
				background: linear-gradient(to bottom right, #a7d7ea,#49e4df 27%, #3eb6d0 45%,#3288c1 62%,#5a5de8);
			
			}
			.icon-butterfly, .icon-spinner2, .icon-hand, .icon-bird, .icon-umbrella{
				line-height: 130px;
				font-size: 65px;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			.icon-butterfly{
				background-image: linear-gradient(to bottom right, #ff255d,#ff4317 17%, #ff6e17 50%,#ff7d16 62%,#ffc24a);
			}
			.icon-spinner2{
				background-image: linear-gradient(to bottom right, #ffd306,#a3c152 51%, #52c1b7);
			}
			.icon-hand{
				background-image: linear-gradient(to bottom right, #5dd15f,#2bae56 47%, #008252);
			}
			.icon-bird{
				background-image: linear-gradient(to bottom right, #21cc8d,#3cbb5b 43%, #006db6);
			}
			.icon-umbrella{
				background-image: linear-gradient(to bottom right, #49e4df,#4aa7e5 23%, #1b88d0 50%,#3b73dc 75%,#5a5de8);
			}
		}
		&__desc{
			display: block;
			margin-top: 16px;
			margin-bottom: 50px;
			font: normal 14px/14px "HiraginoSansGB-W6";
			color: #666666;
		}
	}
	.process{
		overflow: scroll;
		&__img{
			margin: 16px 0;
			width: 960;
			height: 145px;
		}
	}
	.export{
		&__img{
			display: block;
			width: 252px;
			height: 176px;
			margin: 0 auto;
			margin-top: 30px;
		}
		&__name{
			display: inline-block;
			margin-right: 15px;
			font: normal 16px/38px "MicrosoftYaHei";
			color: $orange;
		}
		&__from{
			font: normal 14px "MicrosoftYaHei";
			color: #666666;
		}
		&__detail{
			width: 252px;
			overflow : hidden;
	        text-overflow: ellipsis;
	        display: -webkit-box;
	        -webkit-line-clamp:3; //超出三行折行
	        -webkit-box-orient: vertical;
			font: normal 14px/24px "SimSun";
			color: #666666;
			margin: 0 auto;
		}
		&__link{
			display: inline-block;
			width: 88px;
			height: 14px;
			background-color: #ffffff;
			border-radius: 14px;
			border: solid 1px $orange;
			margin-top: 22px;
			padding: 7px 6px;
			font: normal 14px/14px "MicrosoftYaHei";
			text-align: center;
			color: $orange;
			&:hover{
				text-decoration: none;
			}
		}
		&__title{
			font: normal 15px/38px "MicrosoftYaHei";
			color: #555555;
		}
	}
	.review{
		&__container{
			margin: 32px 0;
			width: 100%;
		}
		&__item{
			width: 100%;
			display: inline-block;
			border: 1px solid #d6d6d6;
			margin: 0 auto;
			padding-bottom:30px;
			text-align: center;
			&--1{
				margin-bottom: 20px;
			}
		}
	}
	.interview{
		&__container{
			margin: 32px 0;
			border: 1px solid #d6d6d6;
		}
		&__item{
			width: 100%;
			display: inline-block;
			text-align: center;
			&--2, &--3{
				display: none;
			}
		}
		&__conversion{
			margin-top: 10px;
			text-align: center;
			margin-bottom: 30px;
		}
		&__prev, &__next{
			display: inline-block;
			height: 28px;
			width: 28px;
			font-size: 14px;
			line-height: 28px;
			background: #d2d2d2;
			color: #ffffff;
			text-align: center;
			cursor: pointer;
			&:hover{
				background: $orange;
			}
		}
		&__next{}
	}
	.related{
		&__container{
			margin-top: 30px; 
		}
		&__arrow{
			display: inline-block;
			margin-right: 12px;
			font: bold 18px "SimSun";
			color: $orange;
		}
		&__desc{
			width: 241px;
			display: inline-block;
			white-space: nowrap; /*折行*/
			overflow: hidden; /*隐藏溢出*/
			text-overflow: ellipsis;
			vertical-align: top;
		}
		&__link{
			font: normal 14px/28px "SimSun";
			color: #666666;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.meeting{
	}
	.document{
		margin-top: 30px;
	}
}

@media only screen and (max-width: 360px){
	.activity{
		margin: 0 5px;
	}
	.introduction{
		&__detail{
			width: 90%;
		}
		&__item{
			margin-left: 2%;
		}
	}
}