$orange: #ff5a0f;
@media only screen and (min-width: 320px) and (max-width: 720px){
	.footer{
		margin-top: 65px;
		background: #f3f3f3;
		height:68px;
		&__container{
			padding-top: 15px;
			margin: 0 auto;
			width: 100%;
		}
		&__title{
			color: $orange;
			font: bold 14px "Arial-BoldMT";
			display: inline-block;
		}
		&__content{
			display: inline-block;
			font-size: 13px;
			float: right;
			text-align: right;
		}
		&__desc{
			font: normal 14px "FZLTHJW--GB1-0";
			display: block;
			color: $orange;
		}
		.copyright{
			font: normal 14px "ArialMT";
			color: #959595;
		}
	}
}