$orange: #ff5a0f;
.footer{
	margin-top: 95px;
	background: #f3f3f3;
	height:68px;
	&__container{
		margin: 0 auto;
		width: 960px;
	}
	&__title{
		color: $orange;
		font: bold 24px/68px "Arial-BoldMT";
		display: inline-block;
	}
	&__content{
		display: inline-block;
		font-size: 13px;
		text-align: right;
		float: right;
		padding-top: 18px;
	}
	&__desc{
		font: normal 14px "FZLTHJW--GB1-0";
		display: block;
		color: $orange;
	}
	.copyright{
		font: normal 14px "ArialMT";
		color: #959595;
	}
}