@media only screen and (min-width: 960px){
	.header{
		background: url(../../images/header_pc.png) no-repeat;
		background-size: contain;
		width: 100%;
		height: 0; //设置图片岁窗口大小按比例缩小
		padding-bottom: 31.6%;/*这里的取值取决于图片比例*/
	}
	.nav{
		margin: 0 auto;
		width: 960px;
		height: 0;
		padding-bottom: 31.6%;
		position: relative;
		&__container{
			padding-top: 20px;
		}
		&__item{
			float:left; 
			text-align:center;
			margin-right: 38px;
		}
		&__link{
			font-size: 16px;
			color: #ffffff;
			font-family: ﻿HiraginoSansGB-W3;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.login{
		float: right;
		font: normal 12px "SimSun";
		color: #ffffff;
		margin-top: 5px;
		&__in, &__reg{
			cursor: pointer;
		}
	}
	.btn{
		position: absolute;
		right: 0;
		bottom: 7.92%;
		&__down{
			margin-bottom: 51px;
		}
		&__up{
		}
		&__down, &__up{
			display: inline-block;
			width: 180px;
			height: 36px;
			background: #ffffff;
			text-align: center;
			font: normal 12px/25px HiraginoSansGB W3, sans-serif;

			text-shadow: 1px 1px 1px rgba(255,255,255, .22);
	                //圆角效果
	        -webkit-border-radius: 18px;
	        -moz-border-radius: 18px;
	        border-radius: 18px;
	    }
	    &__link{
	    	font-family: ﻿HiraginoSansGB-W3;
	    	font-size: 16px;
	    	font-weight: normal;
	    	font-style: normal;
	    	line-height: 36px;
	    	color: #ff5a0f;
	    	&:hover{
	    		text-decoration: none;
	    	}
	    }
	}
	.menu{
		display: none;
	}
}